.container {
    display: flex;
    gap: 12px;
    margin-top: 24px;
    flex-direction: column;
}

.input {
    width: 100%;
    padding: 8px;
    border: solid 1px darkslateblue;
    border-radius: 4px;
}

.inputColor {
    border: solid 1px darkslateblue;
    border-radius: 4px;
    width: 75%;
}

.inputContainer {
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 12px;
}

.button {
    width: 100%;
    background-color: darkslateblue;
    color: white;
    padding: 8px;
    border-radius: 4px;
    text-transform: uppercase;
}

.button:hover {
    background-color: white;
    color: darkslateblue;
}
