.container {
    display: flex;
    gap: 12px;
    margin-top: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.input {
    width: 100%;
    padding: 8px;
    border: solid 1px darkslateblue;
    border-radius: 4px;
}

.inputColor {
    width: 100%;
    border: solid 1px darkslateblue;
    border-radius: 4px;
}

.button {
    width: 100%;
    background-color: darkslateblue;
    color: white;
    padding: 8px;
    border-radius: 4px;
    text-transform: uppercase;
}

.button:hover {
    background-color: white;
    color: darkslateblue;
}
