.container {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.name {
    background-color: white;
    border-radius: 4px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 18px;
}

.hero {
    background-color: black;
    height: 40px;
    border-radius: 4px;
    color: white;
}
