.container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  user-select: none;
  transition: transform 0.15s ease;
}

.name {
  background-color: white;
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 18px;
  padding: 0 2px;
}

svg {
  height: 60px;
  width: 100%;
  margin-top: auto;
}
