.container {
    display: flex;
    gap: 12px;
    margin-top: 24px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.map {
    min-height: 400px;
    position: relative;
    background-color: cornflowerblue;
    width: 100%;
    border-radius: 4px;
}

.hero {
    width: 48px;
    height: 48px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
}
