.container {
  display: flex;
  gap: 12px;
  margin-top: 24px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.map {
  background-image: url('../../assets/universe.jpg');
  background-size: cover;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(5, minmax(60px, 1fr));
  grid-template-rows: repeat(5, minmax(60px, 1fr));
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1 / 1;
}
