.container {
  display: flex;
  gap: 12px;
  margin-top: 24px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.map {
  background-image: url('../../assets/universe.jpg');
  background-size: cover;
  width: 100%;
  min-height: 400px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: repeat(5, 80px);
}
