.container {
    background-color: beige;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    border-radius: 12px;
    margin: 32px;
}

.header {
    width: 100%;
    text-align: center;
    color: darkslateblue;
}

.content {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content > * {
  flex: 1 1 100%;
}

@media (min-width: 640px) {
  .content > * {
    flex: 1 1 calc(50% - 12px);
  }
}

@media (min-width: 1024px) {
  .content > :first-child {
    flex: 1 1 calc(30% - 12px);
  }

  .content > :last-child {
    flex: 3 1 calc(70% - 12px);
  }
}
